.pricingPage{
    position: absolute;
    top: 320%;
    width: 90%;
    left: 5%;
    background: transparent;
    height: 450px;
}
.playername
{
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 2.5em;
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
}
.playerFace
{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 80%;
    top: 6%;
    background: url("./CSS/IMAGES/minwecraftplayerCard.png");
    background-size: cover;
    border: 1px solid #fff;
    box-shadow:  0 0 5px #fff;
}
#myChart
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    background: transparent;
}