@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=VT323&display=swap');

.sectionServerAssets{
    position: absolute;
    top: 65%;
    width: 90%;
    left: 5%;
    background: transparent;
    height: 240px;
}

.sectionServerAssets .serverSoftware
{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 5%;
    width: 450px;
    height: 90px;
    background: linear-gradient(to right, rgba(0, 128, 0, 1), rgba(0, 128, 0, 0));
    border: 1px solid #fafafa;
    border-radius: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.sectionServerAssets > .serverSoftware > .softwareIcon
{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 80px;
    background: url("https://avatars.githubusercontent.com/u/21025855?s=280&v=4");
    background-size: cover;
}

.sectionServerAssets > .serverSoftware > .softwareText
{
    position: absolute;
    text-align: left;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    font-size: 2em;
}



.sectionServerAssets .serverVersion
{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 60%;
    width: 450px;
    height: 90px;
    background: linear-gradient(to left, rgb(10, 133, 186), rgba(0, 0, 255, 0));
    border: 1px solid #fafafa;
    border-radius: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.sectionServerAssets > .serverVersion > .versionIcon
{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 80px;
    background: url("https://cdn.icon-icons.com/icons2/2699/PNG/512/minecraft_logo_icon_168974.png");
    background-size: cover;
}

.sectionServerAssets > .serverVersion > .versionText
{
    position: absolute;
    text-align: left;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    font-size: 2em;
}